
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>domainName</param-name>
		<param-value>http://krishichat7-krishichatproject.apps.us-east-2.online-starter.openshift.com</param-value>
	</context-param>
	<context-param>
		<param-name>minuteToExpireTokenForEmailVerification</param-name>
		<param-value>129600</param-value>
	</context-param>
	<context-param>
		<param-name>minuteToExpireTokenForForgotPassword</param-name>
		<param-value>10</param-value>
	</context-param>
	<listener>
	  <listener-class>
	       org.springframework.security.web.session.HttpSessionEventPublisher
	  </listener-class>
	</listener>
	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
		<cookie-config>
			<max-age>86400</max-age>
		</cookie-config>	
	</session-config>
</web-app>
